# SQL Server database files  
*.ldf  
*.mdf  
# Visual Studio  
bin/  
obj/  
.vs/  
*.suo  
*.user  
# Build results  
[Dd]ebug/  
[Rr]elease/  
# NuGet  
packages/  

# Nested frontend repository
10.2.0/angular/
